@font-face {
  font-family: 'Cheltenham';
  font-style: normal;
  font-weight: 700;
  src: url(https://github.com/iamizzac/misc/raw/7682b2443579f5d1a02b0c7c56742c83dedc725b/cheltenham-normal-700.woff) format('woff');
}
