@font-face {
  font-family: 'Cheltenham';
  font-style: normal;
  font-weight: 700;
  src: url(https://github.com/iamizzac/misc/raw/1e8c1d506f028f061c21ec09031783f65c5f84c8/cheltenham-normal-700.woff2) format('woff2');
}