@font-face {
  font-family: 'nyt-kippenberger';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-normal-400.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-normal-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-normal-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-normal-900.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-condensed';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-condensed-normal-400.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-condensed';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-condensed-normal-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-condensed';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-condensed-normal-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-condensed';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-condensed-normal-900.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-poster';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-poster-normal-700.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'nyt-kippenberger-poster';
  src: url('https://raw.githubusercontent.com/iamizzac/misc/main/kippenberger-poster-normal-900.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}